<% @page_title = "Staff Menu" %>

<div class="menu">
	<h2>Staff Menu</h2>
	<div class="identity">Logged in as: <%= session[:email] %> - <%= session[:agency_name] %></div>
	
	<%= link_to("Logout", :action => 'logout') %>
	</div>

	