<%= link_to("<<Back to Program List", {:action => 'index'}, :class => 'back-link') %>

<%= render(:partial => 'shared/error_messages', :locals => {:object => @program}) %>

<div class="program new">
	<h2>Create New Program</h2>

	<%= render 'form' %>
	
</ div>		