<%= link_to("<<Back to User List", {:action => 'index'}, :class => 'back-link') %>
<%= render(:partial => 'shared/error_messages', :locals => {:object => @staff_user}) %>
<div class="user new">
	<h3>Create New Staff User</h3>
<%= render 'form' %>
</ div>		