<%= link_to("<<Back to Membership Term List", {:action => 'index'}, :class => 'back-link') %>
<%= render(:partial => 'shared/error_messages', :locals => {:object => @membership_term}) %>
<h3>Create New Membership Term</h3>
<table cellpadding="4">
<%= render('form') %>
</tr>
</table>