<%= link_to("<<Back to Maintain Programs", {:action => 'edit', :controller => 'programs', :id => params[:program_id], :season_id => params[:season_id]}, :class => 'back-link') %>

<div class="class session new">
	<h4>Create New Class Session for <%= params[:program_name] %> - <%= params[:season_title] %></h4>
<%= render 'form' %>
</ div>		