<%= render(:partial => 'shared/error_messages', :locals => {:object => @brochure_subsection}) %>
<%= link_to("<<Back to Brochure Subsection List", {:action => 'index'}, :class => 'back-link') %>

<div class="brochure section update">
	<h2>Edit Brochure Subsection</h2>
	<%= render 'form' %>
</ div>