<%= render(:partial => 'shared/error_messages', :locals => {:object => @brochure_subsection}) %>
<%= link_to("<<Back to Brochure Subsection List", {:action => 'index'}, :class => 'back-link') %>

<div class="brochure section new">
	<h2>Create New Brochure Subsection</h2>
<%= render 'form' %>

</ div>		