<%= render(:partial => 'shared/error_messages', :locals => {:object => @membership_level_two}) %>
<%= link_to("<<Back to Membership Level Two List", {:action => 'index'}, :class => 'back-link') %>

<div class="membership level new">
	<h2>Create New Membership Level Two</h2>

<%= render 'form' %>

</table>
</ div>	