<%= render(:partial => 'shared/error_messages', :locals => {:object => @gl_account}) %>
<%= link_to("<<Back to Gl Account List", {:action => 'index'}, :class => 'back-link') %>

<div class="gl account edit">
	<h2>Edit Gl Account</h2>
	
<%= render 'form' %>

</ div>	