<%= render(:partial => 'shared/error_messages', :locals => {:object => @gl_account}) %>
<%= link_to("<<Back to Gl Account List", {:action => 'index'}, :class => 'back-link') %>

<div class="gl account new">
	<h2>Create New Gl Account</h2>

<%= render 'form' %>
	
</ div>		

