<%= render(:partial => 'shared/error_messages', :locals => {:object => @membership_level_three}) %>
<%= link_to("<<Back to Membership Level Three List", {:action => 'index'}, :class => 'back-link') %>

<div class="membership level new">
	<h2>Create New Membership Level Three</h2>

<%= render 'form' %>

</table>
</ div>	