<%= render(:partial => 'shared/error_messages', :locals => {:object => @fund}) %>
<%= link_to("<<Back to Funds List", {:action => 'list'}, :class => 'back-link') %>

<div class="fund new">
	<h2>Edit Fund</h2>

<%= render 'form' %>	

</ div>		