<%= render(:partial => 'shared/error_messages', :locals => {:object => @fund}) %>
<%= link_to("<<Back to Funds List", {:action => 'index'}, :class => 'back-link') %>

<div class="fund new">
	<h2>Create New Fund</h2>

<%= render 'form' %>

</ div>	
	