<%= render(:partial => 'shared/error_messages', :locals => {:object => @account}) %>

<div class="account new">
	<h2>Create New Account</h2>
	Step 1: Please enter the account information. In step 2 you will begin to add people to the account.
	<%= render 'form' %>
	
	In the next step you will add the first person, the head of household.

</ div>		